*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: #000000;
}
::-webkit-scrollbar {
    display: none;
    }
#header{
    background-color: #1B1B1B;
    width: 80%;
    display: flex;
    border-radius: 3px;
    justify-content:space-evenly;
    margin: 0 ;
}
#header li a, h1,h2,h3,h4,h5{
    color: white;
}
.name{
    width: 100%;
}

.div-center,.div-center-name,.div-center-sobre{
    display: flex;
    width: 100%;
    justify-content: center;
}

.div-center-name{
    margin-top: 20%;
    margin-bottom: 21%;
}
.div-center-name h1{
    font-size: 70px;
}

.div-center-name div div{
    display: flex;
    justify-content: center;
    border: 2px solid #00e6e4;
    border-radius: 5px;
}

.div-center-sobre{
    width: 100%;
}
.div-center-sobre img{
    height: 450px;
    width: 550px;
    border: 2px solid #96f7b1;
    border-radius: 4px;
}
.div-sobre{
    width: 90%;
    display: flex;
}
.text-collum,.text-row{
    border-radius: 4px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    padding: 20px;
}

.text-collum{
    border: 2px solid #ff864a;
    margin-right: 30px;
}

.text-row{
    border: 2px solid #00b2dc;
    margin-top: 40px;
}