/* Geral */
*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: #000000;
}
/* ::-webkit-scrollbar {
    display: none;
} */


/* Barra de navegação */
#header{
    background-color: #1B1B1B;
    width: 80%;
    display: flex;
    border-radius: 3px;
    justify-content:space-evenly;
    margin: 0 ;
}
#header li a, h1,h2,h3,h4,h5{
    color: white;
}


/*  Nome e divs*/
.name{
    width: 100%;
}
.div-center,.div-center-name,.div-center-sobre{
    margin-top: 20%;
    margin-bottom: 20%;
    display: flex;
    width: 100%;
    justify-content: center;
}

.div-center-name{
    margin-top: 20%;
    margin-bottom: 21%;
}
.div-center-name h1{
    font-size: 70px;
}

.div-center-name div div{
    display: flex;
    justify-content: center;
    border: 2px solid #00e6e4;
    border-radius: 5px;
}


/* Sobre */
.div-center-sobre{
    width: 100%;
}
.div-center-sobre img{
    height: 450px;
    width: 550px;
    border-radius: 4px;
}
.div-sobre{
    width: 90%;
    display: flex;
}
.text-collum,.text-row{
    border-radius: 4px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    padding: 20px;
}

.text-collum{
    border: 2px solid #ff864a;
    margin-right: 30px;
}

.text-row{
    border: 2px solid #00b2dc;
    margin-top: 40px;
}




/* Projetos */
.containerProjetos{
    display:  flex;
    justify-content:space-around;
    /* border: 2px solid red; */
    width: 100%;
    padding: 30px;
}
.projeto{
    width: 45%;
    height: 830px;
    background-color: #9eadbd;
    border-radius: 6px;
}
.divRelative{
    position: relative;
    display: flex;
    justify-content: center;
    /* border: 2px solid salmon; */
}

.divRelative  img{
    border: 4px;
    height: 300px;
    width: 95%;
    border-radius: 30px;
}
.absolute{
    position: absolute;
    top:230px;
    display: flex;
    flex-direction: column;
    background-color: #1B1B1B;
    opacity: 0.9;
    border-radius: 0px 0px 20px 20px;
}
#infoPro{
    margin: 30px 50px 50px 30px;
}

.nome-projeto{
    display: flex;
    margin: 20px;
    justify-content: center;
}




/* Habilidades */
.tecnologias {
    border: 2px solid #009cf8;
    border-radius: 3px;
    margin: 10px 0px 30px 0px;
    padding: 5px;
}


.tecnologias .div-center {
    padding-bottom: 10px;
    margin: 5px 0px 10px 0px;
    /* border-bottom:  2px dashed #e59d23; */
}

.container-skills{
    display: flex;
    flex-direction: row;
    margin: 10px 5px 20px 5px;
    border: 2px solid red;
}
.nome-skill{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 150px;
    border: 2px solid blue;
}
.container-inter-skills {
    
    margin: 10px;
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}
.skill{
    
    text-align: center;
    border-radius: 10px;
    padding: 5px 15px 5px 15px;
    margin: 5px;
    border: 2px solid greenyellow;
}


/* Modal */
.modal-content{
    background-color: #1B1B1B;
}

/* icones */
.icones-links{
    display: flex;
    justify-content:space-around;
    margin-top:375px;
    /* border: 2px solid red; */
}
.icone{
    border: none;
    background-color:#9eadbd;
}


/* projetos em trabalho */
.div-center-traba{
    margin-top: 10%;
    margin-bottom: 8%;
    display: flex;
    justify-content: center;
}
.container-trab{
    align-items: center;
    display: flex;
    justify-content:space-evenly;
    /* border: 2px solid red; */
    border-radius: 4px;
    width: 100%;
    /* background-color: #00c9c8; */
    /* height: 500px; */
}
.pro-trab{

    background-color: #5b63b7;
    padding: 15px;
    margin-top: 60px;
    margin-bottom: 60px;
    /* border: 4px solid #009cf9; */
    width: 40%;
    height: 500px;
    border-radius: 5px;

}
.pro-trab h4, .pro-trab h5 {
    color: rgb(0, 0, 0);
}
.trab-name, .trab-desc{
    display: flex;
    justify-content: center;
}
.trab-name{
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    border-radius: 3px;
    background-color: #e6f4f1;
    /* border: 2px solid salmon; */
    margin-top: 10px;
    margin-bottom: 20px;
}
.trab-desc{
    border-radius: 3px;
    background-color: #e6f4f1;
    padding: 20px;
    /* border: 2px solid gold; */
    height: 70%;
}


.container-soft-skill{
    /* border: 2px solid greenyellow; */
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.soft-skill{
    padding: 20px;
    width: 600px;
    border: 2px solid #009cf8;
}
.titulo, .desc {
    border-radius: 3px;
    border: 2px solid rgb(255, 255, 255);
}
.titulo{
    margin-top: 5px;
    margin-bottom: 10px;
}
.desc{
    justify-content: center;
    height: 400px;
    padding: 20px;
}


.container-hard-skill{
    display: flex;
    /* justify-content:; */
    align-items: center;
    flex-direction: column;
    border: 2px solid blueviolet;
}
.container-hard{
    margin-top: 5%;
    margin-bottom: 5%;
    width: 90%;
    border: 2px solid gold;
    display: flex;
    /* flex-direction: row; */
}

.skill-tipo{
    border: 2px solid blue;
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.skill-nome{
    padding-top: 15px;
    padding-bottom: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content:space-evenly;
    border: 2px solid gray;
    width: 100%;
    flex-direction: row;
}




.container-contatos{
    display: flex;
    justify-content:space-around;
    margin-top: 20%;
    border: 2px solid red;
}
.contato{
    background-color: white;
    border: 2px solid sandybrown;
    padding: 10px 15px 10px 15px;
    margin-top: 5%;
    margin-bottom: 5%;
}