/* Geral */
*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: #080708;
}
::-webkit-scrollbar {
    display: none;
}


/* Barra de navegação */
#header{
    background-color: #0B0E18;
    width: 80%;
    display: flex;
    border-radius: 3px;
    justify-content:space-evenly;
    margin: 0 ;
}
#header li a, h1,h2,h3,h4,h5{
    color: white;
}


/*  Nome e divs*/
.name{
    width: 100%;
}
.div-center,.div-center-name,.div-center-sobre{
    margin-top: 20%;
    margin-bottom: 20%;
    display: flex;
    width: 100%;
    justify-content: center;
}

.div-center-name{
    margin-top: 20%;
    margin-bottom: 21%;
}
.div-center-name h1{
    font-size: 70px;
}

.div-center-name div div{
    display: flex;
    justify-content: center;
    border: 2px solid #3772FF;
    border-radius: 5px;
}


/* Sobre */
.div-center-sobre{
    width: 100%;
}
.div-center-sobre img{
    height: 450px;
    width: 550px;
    border-radius: 4px;
}
.div-sobre{
    width: 90%;
    display: flex;
}
.text-collum,.text-row{
    border-radius: 4px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    padding: 20px;

    background-color: #0B0E18;
    border: 2px solid #E6E8E6;
}



.text-collum{

    margin-right: 30px;
}

.text-row{
    border: 2px solid  #3772FF;;
    margin-top: 30px;
}




/* Projetos */

.container-projetos{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.left-projeto, .right-projeto {
    border-radius: 10px;
    background-color: #3772FF;
    width: 90%;
    height: 100%;
    display: flex;
    flex-direction: row;
    /* border: 2px solid #203D84; */
    margin-bottom: 150px;
}
.left-projeto{
    /* margin-right: 80px; */
    margin-left: 10px;
   
    box-shadow: #3772ff 5px 5px,#00a3fe 10px 10px, #00c2de 15px 15px,  #9cd7cc 20px 20px, #e6e8e6 25px 25px;
}
.right-projeto{
    margin-left: 130px;
    box-shadow: #3772ff -5px 5px, #00a3fe -10px 10px, #00c2de  -15px 15px,  #9cd7cc  -20px 20px, #e6e8e6 -25px 25px;
}


.left-projeto img , .right-projeto img {
    border-radius: 10px;
   width: 350px;
   height: 300px;
}

.container-texto-projeto {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.container-skill{
    padding-left: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}


.skill img, .btn-info img {
    height: 30px;
    width: 30px;
    margin-right: 15px;
}

.skill{

    display: flex;
    
    justify-content: center;
    padding: 5px 20px 5px 20px ;
    display: flex;
    flex-direction: row;
    background-color: #3265E1;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}
.container-info{
    display: flex;
    flex-direction: row;
}
.btn-info{
    background-color: #E6E8E6;
    border-radius: 10px;
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 5px;
}
.btn-info h5 {
    color: black;
}





/* Modal */
.modal-content{
    background-color: #1B1B1B;
}

/* icones */
.icones-links{
    display: flex;
    justify-content:space-around;
    margin-top:375px;
    /* border: 2px solid red; */
}
.icone{
    border: none;
    background-color: #FDCA40;
}


/* projetos em trabalho */
.container-trab{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #EE7A3B;
}
.trab{
    border-radius: 30px;
    background-color: #0E1527;;
    padding: 20px;
    width: 40%;
}
.info-trab{
    box-shadow: 0px 10px 10px -10px #FDCA40;
    border-bottom: 4px solid #FDCA40;
    padding-bottom: 20px;
}
.desc-trab{
    padding-top: 20px;
}


.container-soft-skill{
    /* border: 2px solid greenyellow; */
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.soft-skill{
    padding: 20px;
    width: 600px;
    border: 4px solid #3772FF;
    background-color: #0B0E18;
}
/* .text-soft-skill{
    color: black;
} */




.titulo, .desc {
    border-radius: 3px;
    border: 2px solid #FDCA40;
    /* background-color: #E6E8E6; */
}
.titulo{
    text-align: center;
    margin-top: 5px;
    margin-bottom: 10px;
}
.desc{
    justify-content: center;
    height: 400px;
    padding: 20px;
}







.container-hard-skill{
    
    display: flex;
    width: 100%;
    /* border: 1px solid green; */
    justify-content: center;
    padding-top: 70px;
    padding-bottom: 70px;

}
.div-hard-skill{
    /* padding: 40px; */
    display: flex;
    flex-direction: row;
    width:90%;
    background-color: #111B35;
    border-radius: 40px;
    /* border: 1px solid blue */
    box-shadow: #3772FF 0px 54px 55px, #3772FF 0px -12px 30px, #3772FF 0px 4px 6px, #3772FF 0px 12px 13px, #3772FF 0px -3px 5px;
}
.div-skill{
    display: flex;
    text-align: center;
    flex-direction: column;
   justify-content: center;
    width: 60%;
}
.div-tipo-skill{
    padding: 20px 10px 10px 10px;
    border-bottom: 3px solid #FDCA40;
    box-shadow: 0px 10px 10px -10px #FDCA40;
}

.div-tipo-skill img{
    /* background-color: white; */
    width: 30px;
    height: 30px;
}
.div-nome-skill{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* border: 1px solid white; */
    padding-top: 20px;
    padding-bottom: 20px;
}
.nome-img{
    display: flex;
    width: 70%;
    margin-top: 30px;
    justify-content: center;
    padding: 10px;
    display: flex;
    flex-direction: row;
    background-color: #10182D;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
}
.nome-img img {
    margin-right: 20px;
    background-color: white;
    width: 30px;
    height: 30px;
    border: 2px solid white;
}





.container-contatos{
    display: flex;
    justify-content:space-around;
    margin-top: 20%;
    /* border: 2px solid red; */
    background-color: #0B0E18;
}
.contato{
    border-radius: 100%;
    background-color: #E6E8E6;
    padding: 10px 10px 5px 10px;
    margin-top: 50px;
    margin-bottom: 50px;
}
.contato img {
    height: 60px;
    width: 60px;
}